output/*
data/*
ckpts/*
log/*

__pycache__/*
models/__pycache__/*
models/backbones/__pycache__/*
models/backbones/efficientnet/__pycache__/*
datasets/__pycache__/*
retrieval/loftr/__pycache__/*
retrieval/loftr/backbone/__pycache__/*
retrieval/loftr/utils/__pycache__/*
retrieval/loftr/loftr_module/__pycache__/*
util/__pycache__/*

retrieval/__pycache__/*
retrieval/model/*
retrieval/model.zip

retrieval_ans/*

curtst.py
result.csv
score_map/*
eval_old.py
preds/*

.vscode